---

import Layout from "@layouts/Layout.astro"
import { site } from "src/config";
import { getCollection } from "astro:content";
import PostCard from "@components/Post/Card.astro"

export async function getStaticPaths({ paginate } : { paginate: Function}){
	const posts = (await getCollection('posts')).sort((a,b) => a.data.date > b.data.date ? -1 : 1);
	return paginate(posts, { pageSize: 12 })
}

const { page } = Astro.props
---
<Layout title={'文章归档 | ' + site.name} description="所有文章" keywords="文章归档,博客">
	<h1>文章归档 - {page.currentPage}</h1>
	<section id="posts">
		<div class="post-list">
			<div class="post-container">
				{page.data.map((post: any) => (
                    <PostCard post={JSON.stringify(post)} />
				))}
			</div>
			<div class="pagination">
				{page.url.prev ? <a href={page.url.prev} class="paginate prev">上一页</a> : null}
				{page.url.next ? <a href={page.url.next} class="paginate next">下一页</a> : null}
			</div>
		</div>
	</section>
</Layout>

<style>
#posts{
	margin: 1rem 0 0;
}
	
#posts .post-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.pagination{
	display: flex;
	justify-content: space-between;
	margin: 1em 0 0 0;
	gap: 1em;
}
.pagination .paginate{
	flex: 1;
	padding: 1em;
	display: inline-block;
	background: var(--white-op);
	border-radius: var(--base-radius);
	transition: 0.3s;
}
.pagination .next{
	text-align: right;
}
.pagination .paginate:is(:hover, :focus-within){
	background: var(--white-deep-op);
	color: var(--main-color);
}
</style>
<style is:global>

#posts .post-card{
    width: calc(calc(100% - 3em) / 4);
}
@media (max-width: 1500px){
    #posts .post-card{
        width: calc(calc(100% - 2em) / 3);
    }
}
@media (max-width: 1200px){
    #posts .post-card{
        width: calc(calc(100% - 1em) / 2);
    }
}
@media (max-width: 768px){
    #posts .post-card{
        width: 100%;
    }
}
</style>