---

import Layout from "@layouts/Layout.astro"
import PostAll from '@components/Post/All.vue'
import { site } from "src/config";
---
<Layout title={'文章归档 | ' + site.name} description="所有文章">
	<h1>文章归档</h1>
	<section class="posts">
		<PostAll client:load/>
	</section>
</Layout>

<style>
	.posts{
		margin: 1rem 0 0;
	}
</style>
