---
import Backtop from "./backtop.astro";
import Headings from "./Headings.vue"
const {headings} = Astro.props;
---
<div class="the-toolbar">
    <div class="the-toolbar-item" onclick="toggleShare()">
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="3736" width="128" height="128"><path d="M752.114706 614.903671c-51.251268 0-96.742345 23.047926-128.225383 58.763358l-27.270087-15.617699-132.588761-75.698053-29.942963-17.154705c5.553483-16.886599 9.31004-34.501792 9.31004-53.199643 0-18.691711-3.756557-36.308951-9.31004-53.18941l29.804816-17.013489 140.025127-80.007195 19.970844-11.449773c31.483038 35.712363 76.974116 58.753125 128.225383 58.753125 94.602611 0 171.511235-76.909647 171.511235-171.511235 0-94.592378-76.909647-171.505096-171.511235-171.505096-94.595448 0-171.508165 76.912717-171.508165 171.505096 0 18.697851 3.749394 36.316114 9.305947 53.199643l-60.762899 34.703383-100.022041 57.21305-29.012777 16.543791c-31.483038-35.70827-76.974116-58.753125-128.232546-58.753125-94.560656 0-171.508165 76.91988-171.508165 171.511235 0 94.598518 76.946486 171.518399 171.508165 171.518399 51.258431 0 96.749508-23.054065 128.232546-58.756195l60.231803 34.429137 105.791441 60.430324 23.774473 13.603833c-5.556553 16.883529-9.305947 34.497699-9.305947 53.195549 0 94.598518 76.912717 171.508165 171.508165 171.508165 94.602611 0 171.511235-76.909647 171.511235-171.508165S846.716294 614.903671 752.114706 614.903671zM752.114706 134.668119c56.814983 0 102.906741 46.106084 102.906741 102.910834 0 56.80782-46.091758 102.906741-102.906741 102.906741-56.811914 0-102.906741-46.098921-102.906741-102.906741C649.206942 180.77318 695.302793 134.668119 752.114706 134.668119zM271.882224 614.903671c-56.811914 0-102.906741-46.091758-102.906741-102.906741 0-56.80782 46.095851-102.906741 102.906741-102.906741s102.910834 46.098921 102.910834 102.906741C374.792035 568.81089 328.693114 614.903671 271.882224 614.903671zM752.114706 889.328811c-56.811914 0-102.906741-46.098921-102.906741-102.910834 0-56.80782 46.095851-102.903671 102.906741-102.903671 56.814983 0 102.906741 46.095851 102.906741 102.903671C855.021447 843.22989 808.928666 889.328811 752.114706 889.328811z" p-id="3737"></path></svg>
    </div>
    <Backtop className="the-toolbar-item"/>
    {headings ? (<Headings headings={headings} className="the-toolbar-item" client:only="vue"/>) : ''}
</div>

<style>
.the-toolbar{
    position: fixed;
    bottom: 2rem;
    right: -2em;
    transition: 0.3s;
    padding: calc(var(--base-radius) / 2);
    background: var(--main-color);
    border: 4px solid var(--deep-bg);
    border-right: none;
    border-radius: var(--base-radius) 0 0 var(--base-radius);
    z-index: 102;
}
.the-toolbar:hover{
    right: 0;
}
.the-toolbar .the-toolbar-item{
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: calc(var(--base-radius) / 2);
    background: var(--main-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.the-toolbar .the-toolbar-item:hover{
    background: var(--deep-bg);
    color: var(--main-color);
}

</style>