---
import Backtop from "./backtop.astro";
import Headings from "./Headings.vue"
const {headings} = Astro.props;
---
<div class="the-toolbar">
    <button class="the-toolbar-item" onclick="toggleShare()" title="分享">
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="10769" width="128" height="128"><path d="M513.76826 513.315442m-294.891218 0a294.891219 294.891219 0 1 0 589.782437 0 294.891219 294.891219 0 1 0-589.782437 0Z" p-id="10770" data-spm-anchor-id="a313x.7781069.0.i9" class="selected"></path><path d="M512.133721 1023.999629A511.846901 511.846901 0 0 1 0.000354 511.866263 510.667336 510.667336 0 0 1 149.973602 149.773548 508.897989 508.897989 0 0 1 512.133721 0.002511a37.746076 37.746076 0 0 1 0 75.492152A436.573811 436.573811 0 0 0 203.424742 820.642645 436.439004 436.439004 0 0 0 948.707532 512.00107a37.746076 37.746076 0 1 1 75.492151 0 511.442479 511.442479 0 0 1-512.065962 511.998559z" p-id="10771" data-spm-anchor-id="a313x.7781069.0.i11" class="selected"></path><path d="M640.453528 334.341749L608.318811 366.54387a35.504903 35.504903 0 1 0 50.148358 50.283166l32.269524-32.269525z" p-id="10772" data-spm-anchor-id="a313x.7781069.0.i12" class="selected"></path><path d="M987.195048 2.159429H684.417596a35.589157 35.589157 0 0 0 0 71.178315H901.524937l-262.874458 262.874458 50.215762 50.198911 262.874457-262.874458v217.039937a35.589157 35.589157 0 0 0 71.178315 0V37.748587a35.723965 35.723965 0 0 0-35.723965-35.589158z" p-id="10773" data-spm-anchor-id="a313x.7781069.0.i10" class="selected"></path><path d="M552.710752 473.311342m-16.850927 0a16.850927 16.850927 0 1 0 33.701854 0 16.850927 16.850927 0 1 0-33.701854 0Z" p-id="10774" data-spm-anchor-id="a313x.7781069.0.i13" class="selected"></path></svg>
    </button>
    <Backtop className="the-toolbar-item"/>
    {headings ? (<Headings headings={headings} className="the-toolbar-item" client:only="vue"/>) : ''}
</div>

<style>
.the-toolbar{
    position: fixed;
    bottom: -2rem;
    right: 2em;
    transition: 0.5s cubic-bezier(.16,1.02,.66,1.14);
    padding: 0.5rem;
    background: var(--main-color);
    border: 4px solid var(--color-deep-op);
    border-bottom: none;
    border-radius: var(--base-radius) var(--base-radius) 0 0;
    display: flex;
    z-index: 102;
}
.the-toolbar:is(:hover, :focus-within){
    bottom: 0;
}
.the-toolbar .the-toolbar-item{
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    border-radius: calc(var(--base-radius) / 2);
    background: var(--main-color);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    color: var(--color-deep-op);
    transition: 0.3s;
}
.the-toolbar .the-toolbar-item:is(:hover, :focus){
    background: var(--color-deep-op);
    color: var(--main-color);
}

</style>