:root {
	--header-height: 70px;
	--side-padding: 7vw;
  
  --main-color-meta: 50, 201, 235;
	--main-color: rgb(var(--main-color-meta));

  --global-main-color-meta: var(--main-color-meta);
  --global-main-color: var(--main-color);

  --active-color-meta: 255, 85, 0;
	--active-color: rgba(var(--active-color-meta), 1);
  
  --red-meta: 232, 105, 100;
  --red: rgb(232, 105, 100);

  --orange-meta: 255, 115, 0;
  --orange: rgb(255, 115, 0);

  --yellow-meta: 246, 169, 27;
  --yellow: rgb(246, 169, 27);

  --green-meta: 52, 175, 86;
  --green: rgb(52, 175, 86);

  --blue-meta: 50, 201, 235;
  --blue: rgb(50, 201, 235);

  --purple-meta: 144, 83, 144;
  --purple: rgb(144, 83, 144);

  --pink-meta: 244,149,162;
  --pink: rgb(244,149,162);
  
  --gray-meta: 142, 142, 147;
  --gray: rgb(142, 142, 147);

	--font-color: rgba(255,255,255,0.8);
  --color-deep-op: rgba(255,255,255,0.8);
  --color-op: rgba(255,255,255,0.2);
  --color-deep-text: rgba(0,0,0,0.8);
  --color-op-text: rgba(255,255,255,0.8);
  --kk-texture-color: rgba(255,255,255,0.2);

  /* card */
  --bg: #fcfcfd;
  --card-tab-bg: #ecedef;
  --card-text-color: #23272b;
  --card-sub-text-color: #9ba0a5;
  --card-bg: #ffffff;
  --card-inner-bg: #f5f7f9;
  --card-active: var(--main-color);
  --card-active-text: #ffffff;
  --card-shadow-color: rgba(0,0,0,0.1);
  --card-shadow: 1px 2px 8px var(--card-shadow-color);
  --card-outline: 0 0 0 3px var(--main-color);
  --card-border-color: #e3e8f7;
  --card-border: 3px solid var(--card-border-color);
  --base-radius: 16px;

  /* md components */
  --md-margin: 1rem 0;
}

html.dark{
  --font-color: rgba(0,0,0,0.8);
  --kk-texture-color: rgba(0,0,0,0.2);

  --color-op: rgba(0,0,0,0.2);
  --color-deep-op: rgba(0,0,0,0.8);
  --color-deep-text: rgba(255,255,255,0.8);
  --color-op-text: rgba(0,0,0,0.8);

  /* card */
  --bg: #151617;
  --card-tab-bg: #2b2b2b;
  --card-text-color: #ffffff;
  --card-sub-text-color: #9ba0a5;
  --card-bg: #1e1e1e;
  --card-inner-bg: #2a2a2a;
  --card-active: var(--main-color);
  --card-active-text: #ffffff;
  --card-shadow-color: rgba(0,0,0,0.1);
  --card-shadow: 1px 2px 8px var(--card-shadow-color);
  --card-outline: 0 0 0 4px var(--main-color);
  --card-border-color: #2e2e2e;
}
@media (max-width: 900px){
  :root{
    --side-padding: 3vw;
  }
}
* {
  box-sizing: border-box;
}
/* a:focus-within,
button:focus-within,
input:focus-within,
textarea:focus-within,
select:focus-within,
summary:focus-within,
label:focus-within{
  outline: 3px solid var(--main-color);
} */
html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--header-height);
  overflow-y: overlay;
}
html.gray{
  filter: grayscale(1);
}
::-webkit-scrollbar{
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb{
  box-sizing: border-box;
  border: 4px solid transparent;
  background-image: linear-gradient(
    rgba(var(--main-color-meta), 0.5) 0%,
    rgba(var(--main-color-meta), 0.5) 100%
  ),
  linear-gradient(
    var(--bg) 0%,
    var(--bg) 100%
  );
  background-clip: content-box;
  border-radius: 99px;
  opacity: 0.6;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover{
  background-image: linear-gradient(
    rgba(var(--main-color-meta), 0.7) 0%,
    rgba(var(--main-color-meta), 0.7) 100%
  ),
  linear-gradient(
    var(--bg) 0%,
    var(--bg) 100%
  );
}
body {
  margin: 0;
  font-family: "Microsoft YaHei", Georgia, "Nimbus Roman No9 L", "Songti SC",
    "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong,
    "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung",
    "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK",
    "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  /* background-color: var(--main-color);
  background-image: url(/bg-zigzag.svg);
  animation: 60s linear -30s infinite alternate none running background-slide;
  background-size: 1500px;
  line-height: 1.5;
  transition: background 0.3s; */
  background-color: var(--bg);
  color: var(--card-text-color);
}
@keyframes background-slide{
  from{
    background-position: 0 0;
  }to{
    background-position: 1500px 0;
  }
}
a{
  color: currentColor;
  text-decoration: none;
  font-weight: 600;
}
svg.icon,img.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
}
svg.icon path {
  fill: currentColor;
}


