/* twikoo */
#twikoo{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: var(--base-radius);
    --light-color: rgba(255,255,255,0.8);
    --white-op: rgba(255,255,255,0.2);
    --sub-font-color: rgba(255,255,255,0.5);
    /* --active-color: var(var(--active-color)); */
    color: var(--light-color);
    background-color: var(--white-op);
}
#twikoo .tk-avatar .tk-avatar-img{
    color: var(--light-color);
    border-radius: var(--base-radius);
}
#twikoo .tk-meta-input .el-input,
#twikoo .el-textarea{
    background-color: var(--white-op);
}
/* 可能是新增的缘故，一起写不生效，必须一个一个设置 */
#twikoo.twikoo .el-input__inner::-webkit-input-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-input__inner:-ms-input-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-input__inner::-moz-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-textarea__inner::-webkit-input-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-textarea__inner:-ms-input-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-textarea__inner::-moz-placeholder{
    color: var(--sub-font-color);
}
#twikoo.twikoo .el-input-group__append,
#twikoo.twikoo .el-input-group__prepend{
    background-color: var(--white-op);
    /* border-color: var(--light-color); */
    border: none;
    color: var(--light-color); 
}
#twikoo.twikoo .el-input__inner,
#twikoo.twikoo .el-textarea__inner{
    border: none;
    transition: 0.3s;
}
#twikoo.twikoo .el-input__inner:hover, .twikoo .el-textarea__inner:hover,
#twikoo.twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
    background-color: var(--white-op);
}
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text){
    background-color: var(--white-op);
    border-color: var(--light-color);
    color: var(--light-color);
}
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active,
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus,
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover{
    background-color: var(--white-op);
    border-color: var(--light-color);
    color: var(--light-color);
}

#twikoo .tk-content{
    background-color: var(--white-op);
    padding: 8px 16px;
    border-radius: var(--base-radius);
}
#twikoo .tk-extras,
#twikoo .tk-icon.__comments,
#twikoo .tk-action-icon,
#twikoo .tk-submit-action-icon.__markdown{
    color: var(--light-color);
}
#twikoo .tk-footer{
    color: var(--main-color);
    font-weight: bold;
    text-shadow: 0 0 1px white;
}
#twikoo .tk-footer a:hover{
    transition: 0.3s;
    color: var(--light-color);
}
#twikoo .tk-preview-container{
    border-color: var(--white-op);
    background-color: var(--white-op);
}