/* 因为目前astro在打包的时候会有bug，会把带有client:only指令的组件的css漏掉，所以先单独引入一下，看后续bug修不修 */



/* TheStyle */
.style-item{
    padding: 0 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.style-theme-color .value,
.style-border-radius .value{
    display: flex;
    gap: 8px;
}
.style-theme-color .value .style-theme-color-item,
.style-border-radius .value .style-border-radius-item{
    width: 16px;
    height: 16px;
    border-radius: calc(0.5 * var(--base-radius));
    border: 3px solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.style-theme-color .value .style-theme-color-item.active,
.style-border-radius .value .style-border-radius-item.active{
    border: 4px solid rgba(255, 255, 255, 0.9);
}


/* TheSidebar */
.the-sidebar .menus{
    padding: 16px;
}
.the-sidebar .menus .menu-name{
    height: 32px;
    line-height: 32px;
    opacity: 0.6;
}
.the-sidebar .menus .menu-items{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.the-sidebar .menus .menu-item{
    line-height: 48px;
    height: 48px;
    border-radius: var(--base-radius);
    padding-left: 16px;
    text-decoration: none;
    color: var(--font-color);
    transition: 0.3s;
}
.the-sidebar .menus .menu-item:hover{
    background-color: var(--white-op);
}

/* TheSearch */
.the-search-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 8000;
}
.the-search-loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.the-search-loading .icon{
    animation: search 0.5s alternate-reverse infinite;
}
@keyframes search{
    0%{
        transform: translate(20px);
    }100%{
        transform: translate(-20px);
    }
}

.pop-enter-from, .pop-leave-to{
    opacity: 0;
}
.pop-enter-to, .pop-leave-from{
    opacity: 1;
}
.pop-enter-active,.pop-leave-active{
    transition: 0.3s cubic-bezier(.14,.99,.55,1.24);
}
.pop-enter-from .the-search, .pop-leave-to .the-search{
    transform: scale(0.2);
}
.pop-enter-to .the-search, .pop-leave-from .the-search{
    transform: scale(1);
}
.the-search{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    min-width: 300px;
    min-height: 300px;
    border: 4px solid white;
    background: var(--main-color);
    border-radius: var(--base-radius);
    padding: 16px;
    transform: scale(1);
    transition: 0.3s cubic-bezier(.14,.99,.55,1.24);
}
.enter-emoji{
    position: absolute;
    right: calc(16px + var(--base-radius));
    line-height: 48px;
}
.the-search .the-search-input{
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: var(--white-op);
    color: var(--font-color);
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: var(--base-radius);
    transition: 0.3s;
}
.the-search .the-search-input:focus{
    background: rgba(255, 255, 255, 0.5);
}
.the-search .the-search-result{
    overflow-y: overlay;
    overflow-x: hidden;
    height: calc(100% - 48px);
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 8px;
}
.the-search .the-search-result::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
.the-search .the-search-result::-webkit-scrollbar-thumb{
    background-color: var(--white-op);
}
.the-search .search-result-item{
    background-color: var(--white-op);
    border-radius: var(--base-radius);
    padding: var(--base-radius);
    text-decoration: none;
    color: var(--font-color);
    transition: 0.3s;
}
.the-search .search-result-item:hover{
    background: rgba(255, 255, 255, 0.4);
}
.the-search .search-result-item .title{
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: bold;
}
.the-search .search-result-item .desc{
    font-size: 0.9em;
    line-height: 1.5;
}

/* IakDrawer */
.k-drawer__wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000;
}
.k-drawer__content{
    position: absolute;
    right: 0;
    top: 0;
    width: 25vw;
    min-width: 300px;
    background: var(--main-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s cubic-bezier(.34,.99,.6,1);
}
.slide-enter-from, .slide-leave-to{
    opacity: 0;
}
.slide-enter-to, .slide-leave-from{
    opacity: 1;
}
.slide-enter-active,.slide-leave-active{
    transition: 0.3s cubic-bezier(.34,.99,.6,1);
}
.slide-enter-from .k-drawer__content, .slide-leave-to .k-drawer__content{
    transform: translateX(100%);
}
.slide-enter-to .k-drawer__content, .slide-leave-from .k-drawer__content{
    transform: translateX(0);
}
.k-drawer__content .k-drawer__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: var(--header-height);
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}
.k-drawer__header .close{
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
}
.k-drawer__content .k-drawer__body{
    flex: 1;
}

/* headings */

.toolbar-headings{
    padding: 1rem;
}
.toolbar-headings-item{
    display: flex;
    align-items: center;
    gap: 4px;
    padding: calc(var(--base-radius) / 2);
    border-radius: calc(var(--base-radius) / 2);
    transition: 0.3s;
}
.toolbar-headings-item:is(:hover, :focus-within){
    background: var(--white-deep-op);
    color: var(--main-color);
}
.toolbar-headings-item::before{
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: var(--white-op);
    color: var(--white-deep-op);
    text-align: center;
    border-radius: var(--base-radius);
}
.toolbar-headings-item.h1::before{
    content: "Ⅰ";
}
.toolbar-headings-item.h2::before{
    content: "Ⅱ";
    width: 2em;
}
.toolbar-headings-item.h3::before{
    content: "Ⅲ";
    width: 2.5em;
}
.toolbar-headings-item.h4::before{
    content: "Ⅳ";
    width: 3em;
}
.toolbar-headings-item.h5::before{
    content: "Ⅴ";
    width: 3.5em;
}
.toolbar-headings-item.h6::before{
    content: "Ⅵ";
    width: 4em;
}