<a class="mdx-img" href={Astro.props.src} data-fancybox="gallery" data-caption={Astro.props.alt} data-role="md-img">
<img src={Astro.props.src} alt={Astro.props.alt}>
</a>

<script>
// @ts-ignore
window.iak.contextMenu["md-img"] = {
    type: 'line',
    children: [{
            text: '新标签打开',
            icon: 'fas fa-link',
            tag: '图片',
            action(el:HTMLElement){
                // @ts-ignore
                window.open(el.getAttribute('href'), '_blank')
            },
        }
    ]
}
</script>

<style>
/* 清除原md中a标签的样式 */
.mdx-img {
    position: static;
}
.mdx-img::before{
    display: none;
}
</style>