---
const { type, title="提示" } = Astro.props;
---

<div class={"mdx-tip " + type}>
    <div class="title">
        {
        type === 'warning' ? 
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1262" width="128" height="128"><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512-230.4-512-512-512z m0 832c-38.4 0-64-25.6-64-64s25.6-64 64-64 64 25.6 64 64-25.6 64-64 64z m64-256c0 38.4-25.6 64-64 64s-64-25.6-64-64V256c0-38.4 25.6-64 64-64s64 25.6 64 64v320z" p-id="1263"></path></svg>
        :
        type === 'error' ?
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="7121" width="128" height="128"><path d="M940 512H792V412c76.8 0 139-62.2 139-139 0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8 0 34.8-28.2 63-63 63H232c-34.8 0-63-28.2-63-63 0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8 0 76.8 62.2 139 139 139v100H84c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h148v96c0 6.5 0.2 13 0.7 19.3C164.1 728.6 116 796.7 116 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8 0-44.2 23.9-82.9 59.6-103.7 6 17.2 13.6 33.6 22.7 49 24.3 41.5 59 76.2 100.5 100.5 28.9 16.9 61 28.8 95.3 34.5 4.4 0 8-3.6 8-8V484c0-4.4 3.6-8 8-8h60c4.4 0 8 3.6 8 8v464.2c0 4.4 3.6 8 8 8 34.3-5.7 66.4-17.6 95.3-34.5 41.5-24.3 76.2-59 100.5-100.5 9.1-15.5 16.7-31.9 22.7-49C812.1 793.1 836 831.8 836 876c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8 0-79.3-48.1-147.4-116.7-176.7 0.4-6.4 0.7-12.8 0.7-19.3v-96h148c4.4 0 8-3.6 8-8v-56c0-4.4-3.6-8-8-8z" p-id="7122"></path><path d="M304 280h416c4.4 0 8-3.6 8-8 0-40-8.8-76.7-25.9-108.1-17.2-31.5-42.5-56.8-74-74C596.7 72.8 560 64 520 64h-16c-40 0-76.7 8.8-108.1 25.9-31.5 17.2-56.8 42.5-74 74C304.8 195.3 296 232 296 272c0 4.4 3.6 8 8 8z" p-id="7123"></path></svg>
        :
        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="13071" width="128" height="128"><path d="M512 0C230.4 0 0 230.4 0 512s230.4 512 512 512 512-230.4 512-512-230.4-512-512-512z m64 768c0 38.4-25.6 64-64 64s-64-25.6-64-64V512c0-38.4 25.6-64 64-64s64 25.6 64 64v256z m0-480c0 19.2-12.8 32-32 32h-64c-19.2 0-32-12.8-32-32v-64c0-19.2 12.8-32 32-32h64c19.2 0 32 12.8 32 32v64z" p-id="13072"></path></svg>
        }
        <span>{title}</span>
    </div>
    <slot></slot>
</div>

<style>
    .mdx-tip{
        --main-color-meta: 30, 143, 255;
        --main-color: rgb(var(--main-color-meta));
        border-radius: var(--base-radius);
        background-color: rgba(var(--main-color-meta), 0.2);
        border: 1px solid rgb(var(--main-color-meta));
        padding: var(--base-radius);
        margin: 8px 0;
    }
    .mdx-tip .title{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 0.5em;
        color: rgb(var(--main-color-meta));
        font-weight: bold;
    }
    .mdx-tip .icon{
        width: 1.25em;
        height: 1.25em;
    }
    .mdx-tip.warning{
        --main-color-meta: 250, 139, 20;
    }
    .mdx-tip.error{
        --main-color-meta: 255, 33, 33;
    }
</style>