---
import { menus } from 'src/config';

const { className } = Astro.props
---
{
    menus.map(menu => (
        <li class={"the-menu " + className}>
            <div class="trigger">
                <span>{menu.name}</span>
            </div>
            <ul class="children">
                {
                    menu.children.map(menuItem => (
                        <li>
                            <a class="menu-item" href={menuItem.href} rel="prefetch" title={menuItem.name}>{menuItem.name}</a>
                        </li>
                    ))
                }
            </ul>
        </li>
    ))
}

<style>
.the-menu{
    position: relative;
}
.the-menu .children{
    position: absolute;
    top: calc(100% + 4px);
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    padding: 0.5rem;
    background-color: var(--main-color);
    /* box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.8); */
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: var(--base-radius);
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
    line-height: 2;
    
}
.the-menu:is(::after, :focus-within)::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    top: 100%;
}
.the-menu:is(:hover, :focus-within) .children{
    opacity: 1;
    pointer-events: all;
    animation: menu 0.2s;
}
@keyframes menu{
    from{
        transform: translate(-50%) scale(0.5);
    }to{
        transform: translate(-50%) scale(1);
    }
}
.the-menu .children .menu-item{
    display: inline-flex;
    padding: 0.5rem 1rem;
    width: 100%;
    border-radius: calc( 0.5 * var(--base-radius));
    color: var(--color-deep-op);
    text-decoration: none;
    transition: 0.3s;
}
.the-menu .children .menu-item:is(:hover, :focus-within){
    background-color: var(--color-deep-op);
    color: var(--main-color);
    outline: none;
}
</style>