---
import { twikoo } from "src/config"


const twikoo_script = `
window.addEventListener("load", () => {
    twikoo.init({
        envId:"${twikoo.url}",
        el: "#iak-twikoo"
    })
})
`
---
{
    twikoo.enabled ? (
        <div id="iak-twikoo"></div>
        <script is:inline set:html={twikoo_script}></script>
    ) : ''
}

<style is:global>
#twikoo{
    --bg: #f4f5f7;
    --card-tab-bg: #ecedef;
    --card-text-color: #23272b;
    --card-sub-text-color: #9ba0a5;
    --card-bg: #ffffff;
    --card-active: var(--main-color);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: var(--base-radius);
    color: var(--card-text-color);
    background-color: var(--card-bg);
}
#twikoo .tk-avatar .tk-avatar-img{
    color: var(--light-color);
    border-radius: var(--base-radius);
}
#twikoo .tk-meta-input .el-input,
#twikoo .el-textarea{
    background-color: var(--bg);
}
/* 可能是新增的缘故，一起写不生效，必须一个一个设置 */
#twikoo.twikoo .el-input__inner::-webkit-input-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-input__inner:-ms-input-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-input__inner::-moz-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-textarea__inner::-webkit-input-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-textarea__inner:-ms-input-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-textarea__inner::-moz-placeholder{
    color: var(--card-sub-text-color);
}
#twikoo.twikoo .el-input-group__append,
#twikoo.twikoo .el-input-group__prepend{
    background-color: var(--card-tab-bg);
    border: none;
    color: var(--card-sub-text-color); 
}
#twikoo.twikoo .el-input__inner,
#twikoo.twikoo .el-textarea__inner{
    border: none;
    transition: 0.3s;
}
#twikoo.twikoo .el-input__inner:hover, .twikoo .el-textarea__inner:hover,
#twikoo.twikoo .el-input__inner:focus, .twikoo .el-textarea__inner:focus{
    background-color: var(--card-tab-bg);
}
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text){
    background-color: var(--bg);
    border-color: var(--card-tab-bg);
}
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active,
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus,
#twikoo.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover{
    background-color: var(--bg);
    border-color: currentColor;
    color: var(--main-color);
}
.el-button--primary,
.el-button--primary:hover,
.el-button--primary:focus,
.el-button--primary:active{
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--light-color);
}
.twikoo .el-button--primary.is-disabled,
.twikoo .el-button--primary.is-disabled:active,
.twikoo .el-button--primary.is-disabled:focus,
.twikoo .el-button--primary.is-disabled:hover{
    background-color: var(--card-active);
    border-color: var(--card-tab-bg);
    color: var(--card-text-color);
}

#twikoo .tk-content{
    background-color: var(--bg);
    padding: 8px 16px;
    border-radius: var(--base-radius);
}
#twikoo .tk-extras,
#twikoo .tk-icon.__comments,
#twikoo .tk-action-icon,
#twikoo .tk-submit-action-icon.__markdown{
    /* color: var(--light-color); */
}
#twikoo .tk-footer{
    color: var(--card-bg);
    font-weight: bold;
    text-shadow: 0 0 1px var(--card-active),0 0 2px var(--card-active);
}
#twikoo .tk-footer a:hover{
    transition: 0.3s;
    color: var(--main-color);
}
#twikoo .tk-preview-container{
    border-color: var(--card-tab-bg);
    background-color: var(--bg);
}
</style>