---
import "@styles/twikoo.css"
---
<div id="iak-twikoo"></div>
<script is:inline src="https://cdn.staticfile.org/twikoo/1.6.9/twikoo.all.min.js"></script>
<script is:inline >
    window.addEventListener('load', () => {
        twikoo.init({
            envId: "https://twikoo.dorakika.cn",
            el: "#iak-twikoo"
        })
    })
</script>
