---
import { getCollection } from "astro:content";
import { formatDateTime } from "@/tools/tools";
import { IakCard } from "@/lib/ui";
import { memories as m_config } from "src/config";
import "@styles/article.css";

const memories = (await getCollection("memories"))
  .sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  })
  .splice(0, m_config.recent_limit);
---

<section id="recent-memories">
  <h2 class="title">近期碎片</h2>
  <IakCard {...{ as: "a", href: "/memories", class: "memories-link" }}>
    <ul class="recent-memories__container">
      {
        memories.map((memory) => {
          return (
            <li class="recent-memories__item">
              <div class="recent-memories__emoji">{memory.data.emoji}</div>
              <div class="recent-memories__title">{memory.data.title}</div>
              <div class="recent-memories__date">
                {formatDateTime(memory.data.date)}
              </div>
            </li>
          );
        })
      }
    </ul>
  </IakCard>
</section>

<style>
  #recent-memories {
    margin: 1rem 0;
  }
  .title {
    font-size: 2rem;
    text-align: center;
  }
  #recent-memories .recent-memories__container {
    list-style: none;
    padding: 0;
  }
  #recent-memories .memories-link {
    display: block;
  }
  #recent-memories .recent-memories__item {
    padding: 8px var(--base-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4em;
    font-weight: normal;
  }
  #recent-memories .recent-memories__title {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>
