---
import Layout from "@layouts/Layout.astro"
import PostSlider from "@components/Post/Slider.vue"

import { site } from "src/config";
---


<Layout title={ '404 | ' + site}>
    <h1 style="">404 | 页面不存在</h1>
	<PostSlider client:load/>
</Layout>
