---
import PostCard from "./Card.astro"
import Grid from "@components/content/Grid.astro"
import { getCollection } from "astro:content";
const recentPosts = (await getCollection("posts")).sort((a,b) => {
    return a.data.date > b.data.date ? -1 : 1
}).slice(0,6)
---

<div class="post-recent">
    <h2 class="title">最近文章</h2>
    <Grid col={3}>
        {
            recentPosts.map(post => <PostCard post={post} />)
        }
    </Grid>
</div>

<style>
    
.post-recent{
    width: 100%;
    /* overflow: hidden; */
}
.post-recent>.title{
    font-size: 2rem;
    text-align: center;
}
.post-recent .post-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
</style>