---
import PostCard from "@components/Post/Card.astro"
import { getCollection } from "astro:content";
const recentPosts = (await getCollection("posts")).sort((a,b) => {
    return a.data.date > b.data.date ? -1 : 1
}).slice(0,6)
---

<div class="post-recent">
    <h2 class="title">最近文章</h2>
    <div class="post-list-container">
        {recentPosts.map(post => (
            <PostCard post={post} />
        ))}
    </div>
</div>

<style>
    
.post-recent{
    width: 100%;
    /* overflow: hidden; */
}
.post-recent>.title{
    color: white;
    font-size: 2rem;
    text-align: center;
}
.post-recent .post-list-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
</style>
<style is:global>

.post-recent .post-card{
    width: calc(calc(100% - 2em) / 3);
}
@media (max-width: 1200px){
    .post-recent .post-card{
        width: calc(calc(100% - 1em) / 2);
}
}
@media (max-width: 768px){
    .post-recent .post-card{
        width: 100%;
    }
}
</style>