---
import PostCard from "@components/Post/Card2.astro"
import { getCollection } from "astro:content";
const recentPosts = (await getCollection("posts")).sort((a,b) => {
    return a.data.date > b.data.date ? -1 : 1
}).slice(0,6)
---

<div class="post-recent-2">
    <h2 class="title">最近文章</h2>
    <div class="post-list-container">
        {recentPosts.map(post => (
            <PostCard post={post} />
        ))}
    </div>
</div>

<style>
    
.post-recent-2{
    width: 100%;
    /* overflow: hidden; */
}
.post-recent-2>.title{
    font-size: 2rem;
    text-align: center;
}
.post-recent-2 .post-list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
</style>
<style is:global>

.post-recent-2 .post-card{
    width: 100%;
}
</style>