---
import BaseHead from '@components/BaseHead/BaseHead.astro';
import TheHeader from "@components/The/Header.astro"
import "@styles/TheHeader.css"
import TheFooter from '@components/The/Footer.astro';
import TheToolbar from '@components/The/Toolbar/Toolbar.astro'


const { title, description, headings } = Astro.props;
---

<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<script is:inline>
			// iak 全局对象，之后会注入一些函数以便调用
			// @ts-ignore
			window.iak = {}
		</script>
		<TheHeader/>
		<TheToolbar headings={headings}/>
        <main style="padding: 0 var(--side-padding)">
            <slot></slot>
        </main>
		<TheFooter />
	</body>
</html>
