---
import BaseHead from '@components/BaseHead.astro';
import TheHeader from "@components/The/Header.vue"
import "@styles/TheHeader.css"
import TheFooter from '@components/The/Footer.astro';
import TheToolbar from '@components/The/Toolbar/Toolbar.astro'


const { title, description, headings } = Astro.props;
---

<html lang="zh-CN">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<TheHeader client:only/>
		<TheToolbar headings={headings}/>
        <main style="padding: 0 var(--side-padding)">
            <slot></slot>
        </main>
		<TheFooter />
	</body>
</html>
